@*@model Spedycja.Site.Models.OrderModel

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Logowanie</legend>
            @Html.LabelFor(l => l.napis, "fdsfsfs")
            @Html.TextBoxFor(l => l.napis)
            @Html.ValidationMessageFor(l => l.napis)


            <input type="submit" value="Zaloguj" />
        </fieldset>
    </div>

}*@

@*@model Spedycja.Site.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Logowanie</legend>
            @Html.LabelFor(l => l.Login, "Login")
            @Html.TextBoxFor(l => l.Login)
            @Html.ValidationMessageFor(l => l.Login)

            @Html.LabelFor(l => l.Password, "Hasło")
            @Html.PasswordFor(l => l.Password)
            @Html.ValidationMessageFor(l => l.Password)
            <input type="submit" value="Zaloguj" />
        </fieldset>
    </div>

}*@


@model Spedycja.Site.Models.OrderModel

@{
    ViewBag.Title = "NewOrder";
}

@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Rejestracja</legend>
            <h2>Dane Ładunku</h2>


            @Html.LabelFor(l => l.load.Name, "Nazwa ładunku")
                @Html.TextBoxFor(l => l.load.Name)
                @Html.ValidationMessageFor(l => l.load.Name)

                @Html.LabelFor(l => l.load.LoadType, "Rodzaj ładunku")
                @Html.TextBoxFor(l => l.load.LoadType)
                @Html.ValidationMessageFor(l => l.load.LoadType)

                @Html.LabelFor(l => l.load.Weight, "Waga")
                @Html.TextBoxFor(l => l.load.Weight)
                @Html.ValidationMessageFor(l => l.load.Weight)

                @Html.LabelFor(l => l.load, "Cena")
                @Html.TextBoxFor(l => l.load.Price)
                @Html.ValidationMessageFor(l => l.load.Price)

                @Html.LabelFor(l => l.vehicle.Name, "Typ pojazdu")
                @Html.TextBoxFor(l => l.vehicle.Name)
                @Html.ValidationMessageFor(l => l.vehicle.Name)

                <h2>Trasa</h2>

                @Html.LabelFor(l => l.route.StartPoint, "Z")
                @Html.TextBoxFor(l => l.route.StartPoint)
                @Html.ValidationMessageFor(l => l.route.StartPoint)

                @Html.LabelFor(l => l.route.EndPoint, "Do")
                @Html.TextBoxFor(l => l.route.EndPoint)
                @Html.ValidationMessageFor(l => l.route.EndPoint)

                <h2>Dane klienta</h2>

                @Html.LabelFor(l => l.customer.Name, "Imię")
                @Html.TextBoxFor(l => l.customer.Name)
                @Html.ValidationMessageFor(l => l.customer.Name)

                @Html.LabelFor(l => l.customer.Surname, "Nazwisko")
                @Html.TextBoxFor(l => l.customer.Surname)
                @Html.ValidationMessageFor(l => l.customer.Surname)

                @Html.LabelFor(l => l.customer.Address, "Adres")
                @Html.TextBoxFor(l => l.customer.Address)
                @Html.ValidationMessageFor(l => l.customer.Address)

                @Html.LabelFor(l => l.customer.PhoneNumber, "Numer telefonu")
                @Html.TextBoxFor(l => l.customer.PhoneNumber)
                @Html.ValidationMessageFor(l => l.customer.PhoneNumber)

                @Html.LabelFor(l => l.customer.Firm, "Firma")
                @Html.TextBoxFor(l => l.customer.Firm)
                @Html.ValidationMessageFor(l => l.customer.Firm)



            <input type="submit" value="Zarejestruj" />
        </fieldset>
    </div>
}


@*
    //zrobilem komentarz bo to nie moje -> Szymon
    @model Spedycja.Model.Models.OrderModel

    @{
        ViewBag.Title = "NewOrder";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }



    <h2>Nowe zamówienie</h2>

    @using (Html.BeginForm("NewOrder", "Order", FormMethod.Post, null))
    {
        @Html.EditorForModel()
        <input type="submit" value="Dodaj" />
    }


    <form action="/Order/OrderPhase2" method="POST">

        <fieldset>

            <h4>Dane Ładunku</h4>

            <input type="hidden" id="oEmployee"/>

            Nazwa ładunku<input type="text" id="oName" /><br />

            Rodzaj ładunku<input type="text" id="oType" /><br/>

            Waga <input type="number" id="Weight" />

            Jednostka<select id="lWeightType" >

                         <option selected="selected"  value=""></option>

                         <option value="0">t</option>

                         <option value="1">kg</option>

                         <option value="2">g</option>

                     </select><br/>

            Objętość <input type="number" id="oVolume"/>

            Jednostka <select id="lVolumeType">

                          <option selected="selected" value=""></option>

                          <option value="0">l</option>

                          <option value="1">op</option>

                      </select><br/>

            Cena <input type="number" id="oPrice"/><br/>

            Typ pojazdu <input type="text" id="lVehicleType" /><br />

            Trasa od<input type="text" id="oStartPoint" /><br />

            Trasa do<input type="text" id="oEndPoint" /><br />

        </fieldset>

        <p><input type="submit" value="Zapisz" /> </p>

    </form>*@