@model Spedycja.Site.Models.OrderModel

@{
    ViewBag.Title = "Stwórz nowe zlecenie";
}

@using (Html.BeginForm())
{
    <div id="formArea">
        <div class="orderLeft">

            @Html.ValidationSummary(true, "Dane zlecenia są niepoprawne")

            <h3>Dane Ładunku</h3>           
                      
            @Html.LabelFor(l => l.load.Name, "Nazwa ładunku")
            @Html.TextBoxFor(l => l.load.Name, new { @Value = @ViewBag.data.load.Name})
            @Html.ValidationMessageFor(l => l.load.Name)

            @Html.LabelFor(l => l.load.LoadType, "Rodzaj ładunku")
            @Html.TextBoxFor(l => l.load.LoadType)
            @Html.ValidationMessageFor(l => l.load.LoadType)

            @Html.LabelFor(l => l.load.Weight, "Waga (kg)")
            @Html.TextBoxFor(l => l.load.Weight)
            @Html.ValidationMessageFor(l => l.load.Weight)

            @Html.LabelFor(l => l.load, "Cena (PLN)")
            @Html.TextBoxFor(l => l.load.Price)
            @Html.ValidationMessageFor(l => l.load.Price)

            @Html.LabelFor(l => l.vehicle.Name, "Typ pojazdu")
            @Html.TextBoxFor(l => l.vehicle.Name)
            @Html.ValidationMessageFor(l => l.vehicle.Name)
       
            <h3>Trasa</h3>

            @Html.LabelFor(l => l.route.StartPoint, "Z")
            @Html.TextBoxFor(l => l.route.StartPoint)
            @Html.ValidationMessageFor(l => l.route.StartPoint)

            @Html.LabelFor(l => l.route.EndPoint, "Do")
            @Html.TextBoxFor(l => l.route.EndPoint)
            @Html.ValidationMessageFor(l => l.route.EndPoint)
        </div>

        <div class="orderRight">
            <h3>Dane klienta</h3>

            @Html.LabelFor(l => l.customer.Name, "Imię")
            @Html.TextBoxFor(l => l.customer.Name)
            @Html.ValidationMessageFor(l => l.customer.Name)

            @Html.LabelFor(l => l.customer.Surname, "Nazwisko")
            @Html.TextBoxFor(l => l.customer.Surname)
            @Html.ValidationMessageFor(l => l.customer.Surname)

            @Html.LabelFor(l => l.customer.Address, "Adres")
            @Html.TextBoxFor(l => l.customer.Address)
            @Html.ValidationMessageFor(l => l.customer.Address)

            @Html.LabelFor(l => l.customer.PhoneNumber, "Numer telefonu")
            @Html.TextBoxFor(l => l.customer.PhoneNumber)
            @Html.ValidationMessageFor(l => l.customer.PhoneNumber)

            @Html.LabelFor(l => l.customer.Firm, "Firma")
            @Html.TextBoxFor(l => l.customer.Firm)
            @Html.ValidationMessageFor(l => l.customer.Firm)
        
            <br />
            <input type="submit" value="Dodaj zlecenie" class="addNewOrderButton" />
        </div>
    </div>
}