@model Spedycja.Model.EntityModels.Order

@{
    ViewBag.Title = "Szczegóły zlecenia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Load.Name</h2>

<br/>
Klient: @Model.Customer.Name  @Model.Customer.Surname<br/>
Status: @Model.StatusOrder.Status <br/>
Data utworzenia zlecenia: @Model.CreatedAt<br/>
Pracownik prowadzący: @Model.Worker.Name @Model.Worker.Surname<br />
<br/>

<input type="button" value="Edytuj dane" class="addNewOrderButton" style="width:200px!important; margin-top:15px" onclick="@("location.href='"+ Url.Action("EditOrder", "Order", new{ orderId = Model.id})+ "'")" />
<input type="button" value="Usuń zlecenie" class="deleteOrderButton" onclick="@("location.href='"+ Url.Action("DeleteOrder", "Order", new{ orderId = Model.id})+ "'")" />

<div id="details">
    <div class="orderLeft">

        <h3>Dane ładunku</h3>
        <ul>
            <li><span class="orderDetailTitle">Rodzaj:</span> @Model.Load.TypesFreight.TypeName</li>
            <li><span class="orderDetailTitle">Waga:</span> @Model.Load.Weight </li>
            <li><span class="orderDetailTitle">Cena:</span> @Model.Load.Price </li>
            <li><span class="orderDetailTitle">Typ pojazdu:</span> @Model.TypesVehicle.TypeName </li>
        </ul>

        <h3>Trasa</h3>
        <ul>
            <li><span class="orderDetailTitle">Miejsce załadunku:</span> @Model.Route.StartPoint <br/>
            <li><span class="orderDetailTitle">Miejsce rozładunku:</span> @Model.Route.EndPoint <br/>
        </ul>

        <h3>Dane klienta</h3>
        <ul>
            <li><span class="orderDetailTitle">Imię:</span> @Model.Customer.Name <br/>
            <li><span class="orderDetailTitle">Nazwisko:</span> @Model.Customer.Surname <br/>
            <li><span class="orderDetailTitle">Nazwa firmy:</span> @Model.Customer.Firm <br/>
            <li><span class="orderDetailTitle">Adres:</span> @Model.Customer.Address <br/>
            <li><span class="orderDetailTitle">Telefon:</span> @Model.Customer.PhoneNumber <br/>
        </ul>

        <h3>Dane kierowcy</h3>

         @if(Model.Driver != null)
           {
             @:<ul>
                @:<li><span class="orderDetailTitle">Imię:</span> @Model.Driver.Name 
                @:<li><span class="orderDetailTitle"> Nazwisko:</span> @Model.Driver.Surname
                @:<li><span class="orderDetailTitle"> Nazwa firmy:</span> @Model.Driver.Firm
                @:<li><span class="orderDetailTitle"> Adres:</span> @Model.Driver.Address
                @:<li><span class="orderDetailTitle"> Telefon:</span> @Model.Driver.PhoneNumber
             @:</ul>
           }   
        
         @if(Model.Driver == null)
           { @:<ul>
                @:<li><span class="orderDetailTitle">Imię:</span> -
                @:<li><span class="orderDetailTitle">Nazwisko:</span> -
                @:<li><span class="orderDetailTitle">Nazwa firmy:</span> -
                @:<li><span class="orderDetailTitle">Adres:</span> -
                @:<li><span class="orderDetailTitle">Telefon:</span> -
             @:</ul>
           }        
        
    </div>

    <div class="orderRight">
    
        @Html.OpenStreetMapsCustomer().Name("Mapa1").PoiList(ViewBag.Map).ZoomLevel("15").MouseScrollZoom(true).MapEditableTrue(false).MapHeight("400").MarkerIcon("greenIcon").MapWidth("450")

    </div>

</div>