@model Spedycja.Site.Models.LoginModel

@{
ViewBag.Title = "Zaloguj się";
}

@Styles.Render("~/Content/css")
　

<div class="loginField">

    @using (Html.BeginForm())
    {
        @Html.LabelFor(l => l.Login, "Login")
        @Html.TextBoxFor(l => l.Login)
        @Html.ValidationMessageFor(l => l.Login)
        @Html.LabelFor(l => l.Password, "Hasło")
        @Html.PasswordFor(l => l.Password)
        @Html.ValidationMessageFor(l => l.Password)
        <input type="submit" value="Zaloguj" />
    }

</div>