@using Spedycja.Model.EntityModels
@using Spedycja.Model.Repositories
@using Spedycja.Model.Repositories.Interfaces
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/leaflet.css")" type="text/css" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/leaflet-0.6.4.js")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        @{
                            var cookie = Request.Cookies["LogOn"];
                        }
                        @if (cookie != null)
                        {
                            IWorkerRepository workerRepository = new WorkerRepository();
                            Worker workerExist = workerRepository.getWorkerByLogin(cookie.Value);

                            <text>
                                @if (workerExist != null)
                                {
                                    <li>@Html.ActionLink("Nowe zlecenie", "NewOrder", "Order")</li>
                                    <li>@Html.ActionLink("Lista zleceń", "OrderList", "Order")</li>
                                    <li>@Html.ActionLink("Trasy kierowców", "ShowAllRoutes", "Route")</li>
                                }
                            </text>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        <p class="sectionHeader">@ViewBag.Title</p>
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; 2014 - TI Spedycja DREAM TEAM</p>
            </div>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
