@*@{var cookie = Request.Cookies["LogOn"];}
@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}*@


@{var cookie = Request.Cookies["LogOn"];}
@if (cookie != null)
{
    <text>
        Witaj, @{  string value = cookie.Value; @Html.Raw(value)}!
        @using (Html.BeginForm("LogOut", "Login", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
        }
    </text>
}
else
{
    @*<ul>
        <li>@Html.ActionLink("Zaloguj", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>*@
}